{% extends "basis.html" %}

{% block content %}

<h2>Welcome to IOT Webhook Server!</h2>

{% if username %}
Welcome {{ username }}.
{% else %}
<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
Not registered yet? click <a href="/signup">here</a>.
{% endif %}


{% endblock %}
